.board-input {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-input {
  font-size: 3rem;
  padding: 0.8rem;
  min-width: 40rem;
  border-radius: 10px;
  outline: none;
  text-align: center;
  border: 3px solid rgb(61, 61, 61);
  box-shadow: 5px 5px var(--black);
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  width: 45%;
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  padding: 1rem 2.4rem;
  border: 3px solid rgb(61, 61, 61);
  box-shadow: 5px 5px var(--black);
  color: var(--white);
  cursor: pointer;
}

.pass {
  background-color: #f1687f;
}

.enter {
  background-color: #51dd64;
}

/* .button-container button:active {
  background-color: #8b8b8b;
  transform: translate(5px, 5px);
  box-shadow: none;
} */

.pass:active {
  background-color: #d4475e;
  transform: translate(5px, 5px);
  box-shadow: none;
}

.enter:active {
  background-color: #43bd53;
  transform: translate(5px, 5px);
  box-shadow: none;
}