.board-input {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-input {
  font-size: 3rem;
  padding: 0.8rem;
  min-width: 40rem;
  border-radius: 10px;
  outline: none;
  text-align: center;
  border: 3px solid var(--black);
  box-shadow: 5px 5px var(--black);
  background-color: var(--white);
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  width: 45%;
  font-size: 2rem;
  font-family: 'Shadows Into Light Two', cursive;
  border-radius: 1rem;
  border: none;
  padding: 1rem 2.4rem;
  border: 3px solid var(--black);
  box-shadow: 5px 5px var(--black);
  color: var(--white);
  cursor: pointer;
}

.pass {
  background-color: var(--red);
}

.enter {
  background-color: var(--green);
}

.pass:active {
  background-color: var(--redSec);
  transform: translate(5px, 5px);
  box-shadow: none;
}

.enter:active {
  background-color: var(--greenSec);
  transform: translate(5px, 5px);
  box-shadow: none;
}