.title-screen {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  text-align: center;
}

.title-screen h1 {
  font-size: 12rem;
  color: var(--white);
  text-shadow: 5px 5px var(--black);
  margin: 0;
}

.title-screen p {
  font-size: 4rem;
}

.title-screen button {
  width: auto;
  padding: 2rem 8rem;
}
.title-screen .link {
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 340px;
}

@media only screen and (max-width: 600px) {
  .title-screen h1 {
    font-size: 10rem;
    margin-bottom: 5rem;
  }

  .title-screen p {
    font-size: 3rem;
  }

  .title-screen button {
    padding: 1rem 6rem;
    background-color: var(--green);
  }

  .logo {
    height: 240px;
  }
}
