:root {
  box-sizing: border-box;
  font-size: 62.5%;
  --black: rgb(71, 71, 71);
  --white: #edf5e8;
  --mainCol: #c4a9c4;
  --red: #f1687f;
  --redSec: #f8889b;
  --green: #39be6c;
  --greenSec: #43e080;
  /* --secCol: ; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #c4a9c4;
  font-size: 10px;
  font-family: 'Neucha', cursive;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
